body {
font-family: roboto;
text-decoration: none;
}

.home {
	background-color: #3b40ff;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;
	color: white;
	font-weight: 900;
	width: 500px;
	height: 300px;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 50px;
 	text-align: center;
}

table {
  	border-collapse: collapse;
  	border: 2px solid rgb(255 255 255);
  	font-family: roboto;
  	font-size: 0.8rem;
  	letter-spacing: 1px;
  	margin-left: auto;
  	margin-right: auto;
}

th, td {
  	border: 1px solid rgb(255 255 255);
  	padding: 8px 10px;
}

.media {
	background-color: #3b40ff;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;
	color: white;
	font-weight: 900;
	width: 650px;
	height: auto;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 50px;
 	text-align: center;
}