body {
font-family: roboto;
text-decoration: none;
background-color: black;
}

.home {
	background-color: #3b40ff;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;
	color: white;
	font-weight: 900;
	width: 500px;
	height: 300px;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 50px;
 	text-align: center;
}

table {
  	border-collapse: collapse;
  	border: 2px solid rgb(255 255 255);
  	font-family: roboto;
  	font-size: 0.8rem;
  	letter-spacing: 1px;
  	margin-left: auto;
  	margin-right: auto;
}

th, td {
  	border: 1px solid rgb(255 255 255);
  	padding: 8px 10px;
}

.media {
	background-color: #3b40ff;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;
	color: white;
	font-weight: 900;
	width: 650px;
	height: 2560px;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 50px;
 	text-align: center;
}

.blogpost {
	background-color: #2f33db;
	text-align: center;
	width: 500px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

.blogheader {
	background-color: #8184ff;
	text-align: center;
	width: 500px;
	height: 30px;
	color: black;
}

.blogpost2 {
	background-color: #2f33db;
	text-align: center;
	width: 500px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
}

.blogtext {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 300;
	letter-spacing: 0.5px;
}